<div *ngIf="loading$ | async; then loading else loaded"></div>
<ng-template #loading>
  <app-loading-spinner [diameter]="100"></app-loading-spinner>
</ng-template>
<ng-template #loaded>
  <div fxFlex fxLayout="column">
    <ng-container *ngIf="(categoriesList$ | async)?.length > 0">
      <app-custom-table (rowClicked)="recordSelected($event)" #dt [dataSource$]="categoriesList$" [psColumnDefs]="psColumnDefs"
        [supportSelect]="true" [supportMultiSelect]="true" [supportFilter]="true" psSort [showLoading]="loading$ | async">
        <ng-container matColumnDef="actions">
          <mat-header-cell tabIndex="-1" fxLayoutAlign="center center" *matHeaderCellDef></mat-header-cell>
          <mat-cell class="column-actions" *matCellDef="let element; let i = index" fxLayoutAlign="center center">
            <button (click)="$event.stopPropagation()" id="{{ 'batchMenuBtn-' + i }}" mat-button
              [matMenuTriggerFor]="batchMenu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #batchMenu="matMenu" fxLayout="column" backdropClass="mat-menu-no-overlay">
              <button mat-menu-item (click)="viewDetails(element.id)">View Details</button>
            </mat-menu>
          </mat-cell>
        </ng-container>
      </app-custom-table>
    </ng-container>
  </div>
</ng-template>
