<div *ngIf="loading$ | async; then loading else loaded"></div>
<ng-template #loading>
  <app-loading-spinner [diameter]="100"></app-loading-spinner>
</ng-template>
<ng-template #loaded>
  <div fxFlex>
    <ng-container *ngIf="(users$ | async)?.length > 0">
      <app-custom-table (rowClicked)="recordSelected($event)" #dt [dataSource$]="users$" [psColumnDefs]="psColumnDefs"
        [supportSelect]="true" [supportMultiSelect]="true" [supportFilter]="true" psSort
        [showLoading]="loading$ | async">
        <ng-container matColumnDef="designation">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Designation </mat-header-cell>
          <mat-cell *matCellDef="let row;">
            <div>
              <span> {{ getRoleName(row.designation) }}</span>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="roles">
          <mat-header-cell *matHeaderCellDef mat-sort-header> System Roles </mat-header-cell>
          <mat-cell class="padding-cell" *matCellDef="let row;">
            <mat-chip-list  [selectable]="false">
              <ng-container *ngFor="let role of row.roles">
                <mat-chip class="custom-mat-chip" [disableRipple]="true" [selectable]="false">{{role}}</mat-chip>
              </ng-container>
            </mat-chip-list>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell tabIndex="-1" fxLayoutAlign="center center" *matHeaderCellDef></mat-header-cell>
          <mat-cell class="column-actions" *matCellDef="let element; let i = index" fxLayoutAlign="center center">
            <button (click)="$event.stopPropagation()" id="{{ 'batchMenuBtn-' + i }}" mat-button
              [matMenuTriggerFor]="batchMenu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #batchMenu="matMenu" fxLayout="column" backdropClass="mat-menu-no-overlay">
              <button mat-menu-item>View Details</button>
            </mat-menu>
          </mat-cell>
        </ng-container>
      </app-custom-table>
    </ng-container>
  </div>
</ng-template>
