app-loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-actions-toolbar {
  height: 56px;
  max-height: 56px !important;
  padding: 0px 16px;
}


.searchInput {
  width: 200px;
  ::ng-deep .mat-form-field-underline {
    display: none !important;
  }
}

.delete-icon {
  font-size: 20px;
}

mat-checkbox {
  padding-right: 8px !important;
}

.mat-column-select {
  overflow: initial;
}

.padding-cell {
  padding-top: 8px;
  padding-bottom: 8px;
}
