app-loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-actions-toolbar {
  height: 56px;
  max-height: 56px !important;
  padding: 0px 16px;
}


.searchInput {
  width: 200px;
  ::ng-deep .mat-form-field-underline {
    display: none !important;
  }
}

.delete-icon {
  font-size: 20px;
}

mat-checkbox {
  padding-right: 8px !important;
}

.no-records-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 100px;
  padding: 16px;

  .no-records-message {
    color: rgb(112, 112, 112);
  }
}

.check-circle {
  background-color: rgb(23, 252, 23) !important;
}

.block {
  color: rgb(241, 62, 62) !important;
}
