<div *ngIf="loading$ | async; then loading else loaded"></div>
<ng-template #loading>
  <app-loading-spinner [diameter]="100"></app-loading-spinner>
</ng-template>
<ng-template #loaded>
  <div fxFlex>
    <ng-container *ngIf="(itemList$ | async)?.length > 0">
      <app-custom-table (rowClicked)="recordSelected($event)" #dt [dataSource$]="itemList$" [psColumnDefs]="psColumnDefs"
        [supportSelect]="true" [supportMultiSelect]="true" [supportFilter]="true" psSort [showLoading]="loading$ | async">
        <ng-container matColumnDef="unitPrice">
          <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef mat-sort-header> Unit Price </mat-header-cell>
          <mat-cell fxLayoutAlign="center center" *matCellDef="let row;">
            <mat-chip-list>
              <mat-chip>{{row.unitPrice.toFixed(2)}}</mat-chip>
            </mat-chip-list>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="availability">
          <mat-header-cell fxLayoutAlign="center center" *matHeaderCellDef mat-sort-header> Availability </mat-header-cell>
          <mat-cell fxLayoutAlign="center center" *matCellDef="let row;">
            <div>
              <mat-icon [ngClass]="[getAvailabilityValue(row.availability)]">{{getAvailabilityValue(row.availability)}}</mat-icon>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell tabIndex="-1" fxLayoutAlign="center center" *matHeaderCellDef></mat-header-cell>
          <mat-cell class="column-actions" *matCellDef="let element; let i = index" fxLayoutAlign="center center">
            <button (click)="$event.stopPropagation()" id="{{ 'batchMenuBtn-' + i }}" mat-button
              [matMenuTriggerFor]="batchMenu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #batchMenu="matMenu" fxLayout="column" backdropClass="mat-menu-no-overlay">
              <button mat-menu-item>View Details</button>
            </mat-menu>
          </mat-cell>
        </ng-container>
      </app-custom-table>
    </ng-container>
  </div>
</ng-template>
