<div fxLayout="column">
  <div class="filter-holder" *ngIf="supportFilter && (hasRecords$ | async) as records">
    <app-custom-table-filter fxFlex [tableDataSource]="dataSource"></app-custom-table-filter>
  </div>
  <div style="width:100%;">
    <mat-table fxFlex [dataSource]="dataSource" class="custom-table"
    (keydown.arrowdown)="arrowDownEvent()"
    (keydown.arrowup)="arrowUpEvent()" id="{{ name }}"
    matSort>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select" *ngIf="supportMultiSelect">
        <mat-header-cell *matHeaderCellDef>
          <span *ngIf="!supportSelectAll">Selected</span>
          <mat-checkbox id="checkbox-{{ name }}" #selectAllCheckbox id="selectAllCheckbox" *ngIf="supportSelectAll"
            color="primary" style="margin: 0 10px" (click)="$event.stopPropagation()" (change)="selectAll($event)">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index">
          <mat-checkbox color="primary" style="margin: 0 10px" (click)="$event.stopPropagation()"
            (change)="$event ? selection?.toggle(row) : null" [checked]="selection?.isSelected(row)"
            id="row-checkbox-{{ i }}">
          </mat-checkbox>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container *ngFor="let col of columnDefs">
        <ng-container [matColumnDef]="col.name">
          <mat-header-cell tabIndex="-1" *matHeaderCellDef mat-sort-header [fxLayoutAlign]="col.fxAlign">
            {{col.label || col.name}}
          </mat-header-cell>
          <mat-cell class="cell-class" *matCellDef="let data" [fxLayoutAlign]="col.fxAlign">
            <div>
              {{col.getData(data)}}
            </div>
          </mat-cell>
        </ng-container>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnNames; sticky: true" ></mat-header-row>
      <mat-row *matRowDef="let row; let i=index; columns: displayedColumnNames" (click)="selection?.toggle(row); rowClicked.emit(row);"
          [ngClass]="checkForRowClass(row, i)" id="{{ 'row-' + i }}"></mat-row>
    </mat-table>
    <div *ngIf="!showLoading && dataSourceUpdated && !(hasRecords$ | async) as records" id="noRecordsMessage"
      class="no-records-message dark600" fxLayoutAlign="center center">
      <div class="box dark800 border-around" fxLayout="column" fxLayoutAlign="center center">
        <span class="msg">No Records Found</span>
      </div>
    </div>

  </div>
</div>
