<div fxFlex fxLayout="column">
  <mat-toolbar class="actions-bar">your options</mat-toolbar>
  <div class="main-content">
    <div *ngIf="loading$ | async; then loading else loaded"></div>
    <ng-template #loading>
      <app-loading-spinner [diameter]="100"></app-loading-spinner>
    </ng-template>
    <ng-template #loaded>
      <div class="selection-content" fxFlex fxLayout="row wrap" fxLayoutGap="16px">
        <div *ngFor="let item of allItems$ | async">
          <div class="item-card mat-elevation-z4">
            {{item.name | uppercase}}
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
