.main-window {
  // padding: 16px;
  width: 100%;
  height: calc(100vh - 64px);
  overflow: hidden;

  .categories-content-section {
    padding: 16px;
    height: calc(100vh - 128px);
    overflow: auto;
  }
}
