<div class="main-container" fxFlex fxLayout="column">
  <mat-toolbar class="edit-section-header" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="edit-header-text">Edit Category</span>
    <button class="edit-close-button" mat-icon-button (click)="closeEdit()"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <div class="content-section" fxFlex>
    <form [formGroup]="editForm" fxFlex fxLayout="column" fxLayoutGap="16px">
      <mat-form-field>
        <input required id="name" matInput formControlName="name" placeholder="Category Name">
      </mat-form-field>
      <mat-form-field>
        <input id="description" matInput formControlName="description" placeholder="Description">
      </mat-form-field>
    </form>
  </div>
  <mat-toolbar class="edit-section-footer" fxLayoutAlign="end center" fxLayoutGap="16px">
    <button mat-flat-button (click)="closeEdit()">CLOSE</button>
    <button [disabled]="editForm.invalid" mat-flat-button color="primary" (click)="saveCategory()">SAVE</button>
  </mat-toolbar>
</div>
