@import "./assets/themes/custom-theme.scss";


html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// notification snackbar styling

.success-notification {
  background-color: rgb(43, 209, 43);
  color: white;
}

.error-notification {
  background-color: rgb(236, 88, 88);
  color: black;
}

.warning-notification {
  background-color: rgb(228, 228, 63);
}

.info-notification {
  background-color: rgb(62, 210, 247);
}

// notification section ends here


// user profile dialog section
.initials-section {
  background-color: yellow;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
}

// ends here

// custom content card
.custom-content-card.mat-card {
  border-radius: 8px;
  padding: 0;
}

.custom-edit-sidenav {
  width: 380px;
  padding: 0;
}


// table styles
.selectedRow {
  background: lightblue !important;
}

.mat-header-row {
  min-height: 50px !important;
}

.mat-header-cell {
  font-size: 13px !important;
}

.mat-cell {
  font-size: 16px !important;
  height: auto;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;


  &.mat-column-select div {
      overflow: visible;
  }
}

.mat-column-select {
  overflow: initial;
}

.limited-width-cell {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-row {
  border: none;
  min-height: 40px !important;
  height: auto;
  cursor: pointer;
}

.mat-column-select {
  overflow: initial;
}


.edit-section-header {
  height: 56px !important;

  .edit-header-text {
    font-weight: 400;
  }

  mat-icon {
    font-size: 18px;
  }
}
